# Build
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Ll]og/
[Ll]ogs/
*.dll
*.exe
*.pdb
*.user
*.userosscache
*.suo
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio
.vs/
*.rsuser
*.sln.docstates
*.userprefs
TestResult*/
[Dd]ebugPublic/
[Rr]eleases/
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# WinUI / Windows App SDK
BundleArtifacts/
AppPackages/
Package.StoreAssociation.xml
*_StoreKey.pfx
*.appx
*.appxbundle
*.msix
*.msixbundle

# Others
*.DotSettings.user
.idea/
*.swp
*~
.DS_Store
Thumbs.db
